<p-card header="Config">
    <div class="inputs-flex">
        <span class="field col-12 md:col-3" >
            <label for="vertical" style="display: block">Max Kids</label>
            <p-inputNumber [style]="{'width':'8rem'}" [inputStyle]="{'width':'8rem'}" [(ngModel)]="maxNumChildren" [showButtons]="false" buttonLayout="horizontal"
                spinnerMode="vertical" decrementButtonClass="p-button-secondary"
                incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus" >
            </p-inputNumber>
        </span>
        <span class="field col-12 md:col-3" >
            <label for="vertical" style="display: block">Adult Age</label>
            <p-inputNumber [style]="{'width':'8rem'}" [inputStyle]="{'width':'8rem'}" [(ngModel)]="adultAge" [showButtons]="false" buttonLayout="horizontal" spinnerMode="horizonatl"
                decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary"
                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
            </p-inputNumber>
        </span>
    </div>
    <div class="inputs-flex">
        <span class="field col-12 md:col-3" >
            <label for="vertical" style="display: block">Old Age</label>
            <p-inputNumber [style]="{'width':'8rem'}" [inputStyle]="{'width':'8rem'}" [(ngModel)]="elderlyAge" [showButtons]="false" buttonLayout="horizontal"
                spinnerMode="vertical" decrementButtonClass="p-button-secondary"
                incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus" >
            </p-inputNumber>
        </span>
        <span class="field col-12 md:col-3" >
            <label for="vertical" style="display: block">Max Age</label>
            <p-inputNumber [style]="{'width':'8rem'}" [inputStyle]="{'width':'8rem'}" [(ngModel)]="maxAge" [showButtons]="false" buttonLayout="horizontal" spinnerMode="horizonatl"
                decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary"
                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
            </p-inputNumber>
        </span>
    </div>
    <span class="p-float-label p-input-filled" style="display: flex; margin-top: 40px;">
        <input id="float-input" type="text" pInputText [(ngModel)]="playersToAddInput">
        <label for="float-input">Player Name(s)</label>
        <button pButton (click)="addPlayers()">Add Player(s)</button>
    </span>
</p-card>