<title>Medieval</title>
<div id="players" class="players-container">
    <div>
        <div item-header class="item-header">
            Dead Players List:
        </div>
        <div *ngFor="let player of deadPlayers">
            <button class="button-7-dead" role="button" (click)="alivifyPlayer(player)">
                {{player}}
            </button>
        </div>
        <button *ngIf="!playersAddedByCSV" class="button-7" role="button" (click)="addPlayersByCSV()">
            add players by CSV
        </button>
        <div>
            <input id="player-adder" [(ngModel)]="playersToAddInput" placeholder="Add comma seperated names" />
        </div>
        <div>
            <button class="button-7" (click)="addPlayers()">Add Player(s)</button>
        </div>
    </div>
    <div class="middle-container">
        <button class="button-7 phase-text" *ngIf="!protosAnthropos" (click)="pauseButton()">
            CREATE FIRST PERSON
        </button>
        <button class="button-7 phase-text" *ngIf="paused && protosAnthropos" (click)="pauseButton()">
            RESUME
        </button>
        <button class="button-7 phase-text" *ngIf="!paused && protosAnthropos" (click)="pauseButton()">
            PAUSE
        </button>
        <app-tree [model]='model'></app-tree>
    </div>

    <div id="living-people">
        <div class="living-players" class="item-header">
            Living Players List:
        </div>
        <div *ngFor="let person of livingPeople" class="living-players-buttons">
            <button class="button-7-alive" role="button" (click)="killPlayer(person.name)">
                {{person.name}}, age: {{person.age}}
            </button>
        </div>

    </div>
</div>