<div id="players" class="players-container">
    <div>
        <div item-header class="item-header">
            Dead Players List:
        </div>
        <div *ngFor="let player of deadPlayers">
            <button class="button-7-dead" role="button" (click)="alivifyPlayer(player)">
                {{player}}
            </button>
        </div>
        <button *ngIf="!playersAddedByCSV" class="button-7" role="button" (click)="addPlayersByCSV()">
            add players by CSV
        </button>
    </div>
    <div>
        <div class="phase-text" *ngIf="paused">
            PAUSED
          </div>
          <div class="phase-text" *ngIf="!paused">
           UNPAUSED
          </div>
          <button class="button-7" role="button" (click)="pauseButton()">
            pause / unpause
          </button>
    </div>

    <div id="living-people">
        <div class="living-players" class="item-header">
            Living Players List:
        </div>
        <div *ngFor="let person of livingPeople">
            <button class="button-7-alive" role="button" (click)="killPlayer(person.name)">
                {{person.name}}, age: {{person.age}}
            </button>
        </div>
    </div>
</div>